<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <span class="clearfix">
          <h1 class="float-start display-3 me-4">Olá</h1>
          <h4 class="pt-3">Só tem acesso aqui quem é ADMIN</h4>
          <p class="text-body-secondary float-start">
            se você não tivesse acesso seria redirecionado para a pagina 404 de erro!
          </p>
        </span>
      </c-col>
    </c-row>
  </c-container>
</div>
